body {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}

.container-fluid,
.container-sm,
.container-md,
.container-lg,
.container-xl {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 576px) {

    .container,
    .container-sm {
        max-width: 540px;
    }
}

@media (min-width: 768px) {

    .container,
    .container-sm,
    .container-md {
        max-width: 720px;
    }
}

@media (min-width: 992px) {

    .container,
    .container-sm,
    .container-md,
    .container-lg {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {

    .container,
    .container-sm,
    .container-md,
    .container-lg,
    .container-xl {
        max-width: 1140px;
    }
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.no-gutters {
    margin-right: 0;
    margin-left: 0;
}

.no-gutters>.col,
.no-gutters>[class*="col-"] {
    padding-right: 0;
    padding-left: 0;
}

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12,
.col,
.col-auto,
.col-sm-1,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm,
.col-sm-auto,
.col-md-1,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md,
.col-md-auto,
.col-lg-1,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg,
.col-lg-auto,
.col-xl-1,
.col-xl-2,
.col-xl-3,
.col-xl-4,
.col-xl-5,
.col-xl-6,
.col-xl-7,
.col-xl-8,
.col-xl-9,
.col-xl-10,
.col-xl-11,
.col-xl-12,
.col-xl,
.col-xl-auto {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

.col {
    flex-basis: 0;
    flex-grow: 1;
    min-width: 0;
    max-width: 100%;
}

.row-cols-1>* {
    flex: 0 0 100%;
    max-width: 100%;
}

.row-cols-2>* {
    flex: 0 0 50%;
    max-width: 50%;
}

.row-cols-3>* {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
}

.row-cols-4>* {
    flex: 0 0 25%;
    max-width: 25%;
}

.row-cols-5>* {
    flex: 0 0 20%;
    max-width: 20%;
}

.row-cols-6>* {
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
}

.col-auto {
    flex: 0 0 auto;
    width: auto;
    max-width: 100%;
}

.col-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
}

.col-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
}

.col-3 {
    flex: 0 0 25%;
    max-width: 25%;
}

.col-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
}

.col-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
}

.col-6 {
    flex: 0 0 50%;
    max-width: 50%;
}

.col-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
}

.col-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
}

.col-9 {
    flex: 0 0 75%;
    max-width: 75%;
}

.col-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
}

.col-11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%;
}

.col-12 {
    flex: 0 0 100%;
    max-width: 100%;
}

.order-first {
    order: -1;
}

.order-last {
    order: 13;
}

.order-0 {
    order: 0;
}

.order-1 {
    order: 1;
}

.order-2 {
    order: 2;
}

.order-3 {
    order: 3;
}

.order-4 {
    order: 4;
}

.order-5 {
    order: 5;
}

.order-6 {
    order: 6;
}

.order-7 {
    order: 7;
}

.order-8 {
    order: 8;
}

.order-9 {
    order: 9;
}

.order-10 {
    order: 10;
}

.order-11 {
    order: 11;
}

.order-12 {
    order: 12;
}

.offset-1 {
    margin-left: 8.33333%;
}

.offset-2 {
    margin-left: 16.66667%;
}

.offset-3 {
    margin-left: 25%;
}

.offset-4 {
    margin-left: 33.33333%;
}

.offset-5 {
    margin-left: 41.66667%;
}

.offset-6 {
    margin-left: 50%;
}

.offset-7 {
    margin-left: 58.33333%;
}

.offset-8 {
    margin-left: 66.66667%;
}

.offset-9 {
    margin-left: 75%;
}

.offset-10 {
    margin-left: 83.33333%;
}

.offset-11 {
    margin-left: 91.66667%;
}

@media (min-width: 576px) {
    .col-sm {
        flex-basis: 0;
        flex-grow: 1;
        min-width: 0;
        max-width: 100%;
    }

    .row-cols-sm-1>* {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .row-cols-sm-2>* {
        flex: 0 0 50%;
        max-width: 50%;
    }

    .row-cols-sm-3>* {
        flex: 0 0 33.33333%;
        max-width: 33.33333%;
    }

    .row-cols-sm-4>* {
        flex: 0 0 25%;
        max-width: 25%;
    }

    .row-cols-sm-5>* {
        flex: 0 0 20%;
        max-width: 20%;
    }

    .row-cols-sm-6>* {
        flex: 0 0 16.66667%;
        max-width: 16.66667%;
    }

    .col-sm-auto {
        flex: 0 0 auto;
        width: auto;
        max-width: 100%;
    }

    .col-sm-1 {
        flex: 0 0 8.33333%;
        max-width: 8.33333%;
    }

    .col-sm-2 {
        flex: 0 0 16.66667%;
        max-width: 16.66667%;
    }

    .col-sm-3 {
        flex: 0 0 25%;
        max-width: 25%;
    }

    .col-sm-4 {
        flex: 0 0 33.33333%;
        max-width: 33.33333%;
    }

    .col-sm-5 {
        flex: 0 0 41.66667%;
        max-width: 41.66667%;
    }

    .col-sm-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }

    .col-sm-7 {
        flex: 0 0 58.33333%;
        max-width: 58.33333%;
    }

    .col-sm-8 {
        flex: 0 0 66.66667%;
        max-width: 66.66667%;
    }

    .col-sm-9 {
        flex: 0 0 75%;
        max-width: 75%;
    }

    .col-sm-10 {
        flex: 0 0 83.33333%;
        max-width: 83.33333%;
    }

    .col-sm-11 {
        flex: 0 0 91.66667%;
        max-width: 91.66667%;
    }

    .col-sm-12 {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .order-sm-first {
        order: -1;
    }

    .order-sm-last {
        order: 13;
    }

    .order-sm-0 {
        order: 0;
    }

    .order-sm-1 {
        order: 1;
    }

    .order-sm-2 {
        order: 2;
    }

    .order-sm-3 {
        order: 3;
    }

    .order-sm-4 {
        order: 4;
    }

    .order-sm-5 {
        order: 5;
    }

    .order-sm-6 {
        order: 6;
    }

    .order-sm-7 {
        order: 7;
    }

    .order-sm-8 {
        order: 8;
    }

    .order-sm-9 {
        order: 9;
    }

    .order-sm-10 {
        order: 10;
    }

    .order-sm-11 {
        order: 11;
    }

    .order-sm-12 {
        order: 12;
    }

    .offset-sm-0 {
        margin-left: 0;
    }

    .offset-sm-1 {
        margin-left: 8.33333%;
    }

    .offset-sm-2 {
        margin-left: 16.66667%;
    }

    .offset-sm-3 {
        margin-left: 25%;
    }

    .offset-sm-4 {
        margin-left: 33.33333%;
    }

    .offset-sm-5 {
        margin-left: 41.66667%;
    }

    .offset-sm-6 {
        margin-left: 50%;
    }

    .offset-sm-7 {
        margin-left: 58.33333%;
    }

    .offset-sm-8 {
        margin-left: 66.66667%;
    }

    .offset-sm-9 {
        margin-left: 75%;
    }

    .offset-sm-10 {
        margin-left: 83.33333%;
    }

    .offset-sm-11 {
        margin-left: 91.66667%;
    }
}

@media (min-width: 768px) {
    .col-md {
        flex-basis: 0;
        flex-grow: 1;
        min-width: 0;
        max-width: 100%;
    }

    .row-cols-md-1>* {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .row-cols-md-2>* {
        flex: 0 0 50%;
        max-width: 50%;
    }

    .row-cols-md-3>* {
        flex: 0 0 33.33333%;
        max-width: 33.33333%;
    }

    .row-cols-md-4>* {
        flex: 0 0 25%;
        max-width: 25%;
    }

    .row-cols-md-5>* {
        flex: 0 0 20%;
        max-width: 20%;
    }

    .row-cols-md-6>* {
        flex: 0 0 16.66667%;
        max-width: 16.66667%;
    }

    .col-md-auto {
        flex: 0 0 auto;
        width: auto;
        max-width: 100%;
    }

    .col-md-1 {
        flex: 0 0 8.33333%;
        max-width: 8.33333%;
    }

    .col-md-2 {
        flex: 0 0 16.66667%;
        max-width: 16.66667%;
    }

    .col-md-3 {
        flex: 0 0 25%;
        max-width: 25%;
    }

    .col-md-4 {
        flex: 0 0 33.33333%;
        max-width: 33.33333%;
    }

    .col-md-5 {
        flex: 0 0 41.66667%;
        max-width: 41.66667%;
    }

    .col-md-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }

    .col-md-7 {
        flex: 0 0 58.33333%;
        max-width: 58.33333%;
    }

    .col-md-8 {
        flex: 0 0 66.66667%;
        max-width: 66.66667%;
    }

    .col-md-9 {
        flex: 0 0 75%;
        max-width: 75%;
    }

    .col-md-10 {
        flex: 0 0 83.33333%;
        max-width: 83.33333%;
    }

    .col-md-11 {
        flex: 0 0 91.66667%;
        max-width: 91.66667%;
    }

    .col-md-12 {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .order-md-first {
        order: -1;
    }

    .order-md-last {
        order: 13;
    }

    .order-md-0 {
        order: 0;
    }

    .order-md-1 {
        order: 1;
    }

    .order-md-2 {
        order: 2;
    }

    .order-md-3 {
        order: 3;
    }

    .order-md-4 {
        order: 4;
    }

    .order-md-5 {
        order: 5;
    }

    .order-md-6 {
        order: 6;
    }

    .order-md-7 {
        order: 7;
    }

    .order-md-8 {
        order: 8;
    }

    .order-md-9 {
        order: 9;
    }

    .order-md-10 {
        order: 10;
    }

    .order-md-11 {
        order: 11;
    }

    .order-md-12 {
        order: 12;
    }

    .offset-md-0 {
        margin-left: 0;
    }

    .offset-md-1 {
        margin-left: 8.33333%;
    }

    .offset-md-2 {
        margin-left: 16.66667%;
    }

    .offset-md-3 {
        margin-left: 25%;
    }

    .offset-md-4 {
        margin-left: 33.33333%;
    }

    .offset-md-5 {
        margin-left: 41.66667%;
    }

    .offset-md-6 {
        margin-left: 50%;
    }

    .offset-md-7 {
        margin-left: 58.33333%;
    }

    .offset-md-8 {
        margin-left: 66.66667%;
    }

    .offset-md-9 {
        margin-left: 75%;
    }

    .offset-md-10 {
        margin-left: 83.33333%;
    }

    .offset-md-11 {
        margin-left: 91.66667%;
    }
}

@media (min-width: 992px) {
    .col-lg {
        flex-basis: 0;
        flex-grow: 1;
        min-width: 0;
        max-width: 100%;
    }

    .row-cols-lg-1>* {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .row-cols-lg-2>* {
        flex: 0 0 50%;
        max-width: 50%;
    }

    .row-cols-lg-3>* {
        flex: 0 0 33.33333%;
        max-width: 33.33333%;
    }

    .row-cols-lg-4>* {
        flex: 0 0 25%;
        max-width: 25%;
    }

    .row-cols-lg-5>* {
        flex: 0 0 20%;
        max-width: 20%;
    }

    .row-cols-lg-6>* {
        flex: 0 0 16.66667%;
        max-width: 16.66667%;
    }

    .col-lg-auto {
        flex: 0 0 auto;
        width: auto;
        max-width: 100%;
    }

    .col-lg-1 {
        flex: 0 0 8.33333%;
        max-width: 8.33333%;
    }

    .col-lg-2 {
        flex: 0 0 16.66667%;
        max-width: 16.66667%;
    }

    .col-lg-3 {
        flex: 0 0 25%;
        max-width: 25%;
    }

    .col-lg-4 {
        flex: 0 0 33.33333%;
        max-width: 33.33333%;
    }

    .col-lg-5 {
        flex: 0 0 41.66667%;
        max-width: 41.66667%;
    }

    .col-lg-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }

    .col-lg-7 {
        flex: 0 0 58.33333%;
        max-width: 58.33333%;
    }

    .col-lg-8 {
        flex: 0 0 66.66667%;
        max-width: 66.66667%;
    }

    .col-lg-9 {
        flex: 0 0 75%;
        max-width: 75%;
    }

    .col-lg-10 {
        flex: 0 0 83.33333%;
        max-width: 83.33333%;
    }

    .col-lg-11 {
        flex: 0 0 91.66667%;
        max-width: 91.66667%;
    }

    .col-lg-12 {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .order-lg-first {
        order: -1;
    }

    .order-lg-last {
        order: 13;
    }

    .order-lg-0 {
        order: 0;
    }

    .order-lg-1 {
        order: 1;
    }

    .order-lg-2 {
        order: 2;
    }

    .order-lg-3 {
        order: 3;
    }

    .order-lg-4 {
        order: 4;
    }

    .order-lg-5 {
        order: 5;
    }

    .order-lg-6 {
        order: 6;
    }

    .order-lg-7 {
        order: 7;
    }

    .order-lg-8 {
        order: 8;
    }

    .order-lg-9 {
        order: 9;
    }

    .order-lg-10 {
        order: 10;
    }

    .order-lg-11 {
        order: 11;
    }

    .order-lg-12 {
        order: 12;
    }

    .offset-lg-0 {
        margin-left: 0;
    }

    .offset-lg-1 {
        margin-left: 8.33333%;
    }

    .offset-lg-2 {
        margin-left: 16.66667%;
    }

    .offset-lg-3 {
        margin-left: 25%;
    }

    .offset-lg-4 {
        margin-left: 33.33333%;
    }

    .offset-lg-5 {
        margin-left: 41.66667%;
    }

    .offset-lg-6 {
        margin-left: 50%;
    }

    .offset-lg-7 {
        margin-left: 58.33333%;
    }

    .offset-lg-8 {
        margin-left: 66.66667%;
    }

    .offset-lg-9 {
        margin-left: 75%;
    }

    .offset-lg-10 {
        margin-left: 83.33333%;
    }

    .offset-lg-11 {
        margin-left: 91.66667%;
    }
}

@media (min-width: 1200px) {
    .col-xl {
        flex-basis: 0;
        flex-grow: 1;
        min-width: 0;
        max-width: 100%;
    }

    .row-cols-xl-1>* {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .row-cols-xl-2>* {
        flex: 0 0 50%;
        max-width: 50%;
    }

    .row-cols-xl-3>* {
        flex: 0 0 33.33333%;
        max-width: 33.33333%;
    }

    .row-cols-xl-4>* {
        flex: 0 0 25%;
        max-width: 25%;
    }

    .row-cols-xl-5>* {
        flex: 0 0 20%;
        max-width: 20%;
    }

    .row-cols-xl-6>* {
        flex: 0 0 16.66667%;
        max-width: 16.66667%;
    }

    .col-xl-auto {
        flex: 0 0 auto;
        width: auto;
        max-width: 100%;
    }

    .col-xl-1 {
        flex: 0 0 8.33333%;
        max-width: 8.33333%;
    }

    .col-xl-2 {
        flex: 0 0 16.66667%;
        max-width: 16.66667%;
    }

    .col-xl-3 {
        flex: 0 0 25%;
        max-width: 25%;
    }

    .col-xl-4 {
        flex: 0 0 33.33333%;
        max-width: 33.33333%;
    }

    .col-xl-5 {
        flex: 0 0 41.66667%;
        max-width: 41.66667%;
    }

    .col-xl-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }

    .col-xl-7 {
        flex: 0 0 58.33333%;
        max-width: 58.33333%;
    }

    .col-xl-8 {
        flex: 0 0 66.66667%;
        max-width: 66.66667%;
    }

    .col-xl-9 {
        flex: 0 0 75%;
        max-width: 75%;
    }

    .col-xl-10 {
        flex: 0 0 83.33333%;
        max-width: 83.33333%;
    }

    .col-xl-11 {
        flex: 0 0 91.66667%;
        max-width: 91.66667%;
    }

    .col-xl-12 {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .order-xl-first {
        order: -1;
    }

    .order-xl-last {
        order: 13;
    }

    .order-xl-0 {
        order: 0;
    }

    .order-xl-1 {
        order: 1;
    }

    .order-xl-2 {
        order: 2;
    }

    .order-xl-3 {
        order: 3;
    }

    .order-xl-4 {
        order: 4;
    }

    .order-xl-5 {
        order: 5;
    }

    .order-xl-6 {
        order: 6;
    }

    .order-xl-7 {
        order: 7;
    }

    .order-xl-8 {
        order: 8;
    }

    .order-xl-9 {
        order: 9;
    }

    .order-xl-10 {
        order: 10;
    }

    .order-xl-11 {
        order: 11;
    }

    .order-xl-12 {
        order: 12;
    }

    .offset-xl-0 {
        margin-left: 0;
    }

    .offset-xl-1 {
        margin-left: 8.33333%;
    }

    .offset-xl-2 {
        margin-left: 16.66667%;
    }

    .offset-xl-3 {
        margin-left: 25%;
    }

    .offset-xl-4 {
        margin-left: 33.33333%;
    }

    .offset-xl-5 {
        margin-left: 41.66667%;
    }

    .offset-xl-6 {
        margin-left: 50%;
    }

    .offset-xl-7 {
        margin-left: 58.33333%;
    }

    .offset-xl-8 {
        margin-left: 66.66667%;
    }

    .offset-xl-9 {
        margin-left: 75%;
    }

    .offset-xl-10 {
        margin-left: 83.33333%;
    }

    .offset-xl-11 {
        margin-left: 91.66667%;
    }
}

.header__nav {
    display: flex;
    align-items: center;
    height: 50px;
    width: 100%;
    position: fixed;
    background-color: #212121;
    z-index: 5;
}

.header__nav a {
    transition: color .3s;
}

.header__nav a:hover {
    color: #ff6c6c;
}

@media (max-width: 576px) {
    .header__nav {
        height: 40px;
    }
}

.header__menu {
    display: flex;
    justify-content: space-between;
    height: 100%;
    padding: 0 70px;
    margin: 0;
    list-style-type: none;
}

@media (max-width: 767px) {
    .header__menu {
        position: fixed;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        top: 0;
        left: -100%;
        width: 50%;
        height: 100vh;
        padding: 20px 15px;
        background-color: rgba(0, 0, 0, 0.8);
        transition: .6s all;
    }

    .header__menu-active {
        left: 0;
    }
}

@media (max-width: 576px) {
    .header__menu {
        width: 80%;
    }
}

.header__menu-item {
    padding-right: 28px;
    border-right: 2px dotted #000000;
}

@media (max-width: 1200px) {
    .header__menu-item {
        padding-right: 20px;
    }
}

@media (max-width: 992px) {
    .header__menu-item {
        padding-right: 10px;
    }
}

@media (max-width: 767px) {
    .header__menu-item {
        margin: 10px 0;
        padding-right: 0;
        border: none;
    }
}

@media (max-width: 576px) {
    .header__menu-item {
        width: 100%;
        text-align: center;
    }

    .header__menu-item a {
        padding: 8px 0;
        font-size: 18px;
    }
}

.header__menu-item:last-child {
    border-right: none;
}

.header__menu-link {
    color: #ffffff;
    font-size: 15px;
    font-weight: 300;
    text-decoration: none;
}

@media (max-width: 1200px) {
    .header__menu-link {
        font-size: 13px;
    }
}

@media (max-width: 992px) {
    .header__menu-link {
        font-size: 10px;
    }
}

@media (max-width: 767px) {
    .header__menu-link {
        font-size: 20px;
    }
}

@media (max-width: 576px) {
    .header__menu-link {
        display: block;
    }
}

.hamburger {
    display: none;
}

@media (max-width: 767px) {
    .hamburger {
        display: block;
        position: absolute;
        right: 30px;
        top: 50%;
        width: 26px;
        height: 12px;
        transform: translateY(-50%);
    }

    .hamburger span {
        display: block;
        height: 3px;
        width: 100%;
        margin-bottom: 2px;
        background-color: #fff;
        transition: .5s all;
    }
}

.hamburger__active span {
    margin-bottom: -3px;
}

.hamburger__active span:first-child {
    transform: translateY(3px) rotate(-45deg);
}

.hamburger__active span:nth-child(2) {
    display: none;
}

.hamburger__active span:nth-child(3) {
    transform: translateY(3px) rotate(45deg);
}

.subheader {
    position: absolute;
    width: 100%;
    height: 84px;
    margin-top: 50px;
    background-color: rgba(0, 0, 0, 0.6);
}

@media (max-width: 576px) {
    .subheader {
        margin-top: 40px;
    }
}

.subheader__logo {
    display: block;
    margin-top: 16px;
    max-width: 100%;
}

.subheader__logo img {
    width: 100%;
}

.subheader__official {
    margin-top: 6px;
    color: #ffffff;
    font-size: 13px;
    font-weight: 400;
    opacity: .5;
}

@media (max-width: 992px) {
    .subheader__official {
        font-size: 11px;
    }
}

.subheader__call {
    margin-top: 19px;
    text-align: right;
    color: #ffffff;
    font-size: 12px;
    font-weight: 300;
}

.subheader__phone {
    display: block;
    margin-top: 8px;
    color: #ffffff;
    font-size: 22px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: right;
    text-decoration: none;
    line-height: 12px;
}

@media (max-width: 992px) {
    .subheader__phone {
        font-size: 20px;
    }
}

@media (max-width: 576px) {
    .subheader__phone {
        margin: 12px 0 13px;
        font-size: 12px;
        font-weight: 400;
        text-align: center;
    }
}

.btn {
    margin-top: 19px;
    width: 172px;
    height: 46px;
    border: none;
    border-radius: 4px;
    background-image: linear-gradient(to top, #1eacc7 0%, #4ce2ff 100%);
    box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.21);
    color: #ffffff;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    cursor: pointer;
}

@media (max-width: 576px) {
    .btn {
        display: block;
        width: 120px;
        height: 30px;
        margin: 0 auto;
        font-size: 10px;
    }
}

.xs-visible {
    display: none;
}

@media (max-width: 576px) {
    .xs-hidden {
        display: none;
    }

    .xs-visible {
        display: block;
    }
}

.promo {
    min-height: 800px;
    padding: 200px 0 135px 0;
    text-align: center;
    background: url("../../assets/img/bg.jpg") center center/cover no-repeat;
}

@media (max-width: 576px) {
    .promo {
        min-height: 400px;
        padding: 180px 0 80px 0;
    }
}

.promo__header {
    margin: 0;
    color: #ffffff;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 60px;
    line-height: 60px;
}

@media (max-width: 1200px) {
    .promo__header {
        font-size: 50px;
    }
}

@media (max-width: 576px) {
    .promo__header {
        line-height: 35px;
        font-size: 36px;
    }
}

.promo__subheader {
    margin-top: 22px;
    color: #ffffff;
    font-size: 36px;
    font-weight: 700;
    line-height: 36px;
    text-transform: uppercase;
}

@media (max-width: 1200px) {
    .promo__subheader {
        font-size: 32px;
    }
}

@media (max-width: 576px) {
    .promo__subheader {
        font-size: 20px;
    }
}

.promo__descr {
    margin-top: 23px;
    color: #ffffff;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
}

@media (max-width: 576px) {
    .promo__descr {
        display: none;
    }
}

.promo__btn {
    display: block;
    margin: 118px auto 0;
}

@media (max-width: 576px) {
    .promo__btn {
        width: 200px;
        height: 50px;
        font-size: 14px;
    }
}

.advantages {
    padding: 70px 0 60px 0;
}

@media (max-width: 576px) {
    .advantages {
        padding: 22px 0 36px 0;
    }
}

.label {
    display: block;
    padding: 7px 12px;
    margin: 0 auto;
    max-width: 120px;
    text-align: center;
    font-size: 12px;
    color: #ffffff;
    background-color: #000000;
    text-transform: uppercase;
}

.title {
    margin-top: 38px;
    margin-bottom: 30px;
    color: #222222;
    font-size: 38px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
}

.advantages__block {
    display: flex;
    justify-content: space-around;
    margin-bottom: 50px;
}

@media (max-width: 576px) {
    .advantages__block {
        flex-direction: column;
        align-items: center;
    }

    .advantages__block .mbn {
        margin-bottom: 0;
    }
}

.advantages__icon {
    padding-bottom: 30px;
}

.advantages__descr {
    max-width: 360px;
}

@media (max-width: 1200px) {
    .advantages__descr {
        padding-left: 10px;
    }
}

@media (max-width: 576px) {
    .advantages__descr {
        padding: 0 10px;
    }
}

.advantages__subtitle {
    color: #1eacc7;
}

@media (max-width: 576px) {
    .advantages__title {
        font-size: 30px;
        margin-bottom: 40px;
    }
}

.subtitle {
    margin-top: 19px;
    text-align: center;
    color: #222222;
    font-size: 17px;
    font-weight: 400;
}

.mobile {
    min-height: 864px;
    padding: 48px 0 78px 0;
    background: url("../../assets/img/mobile-bg.jpg") center center/cover no-repeat;
}

.mobile .row {
    margin-top: 32px;
}

.mobile__item {
    position: relative;
    width: 320px;
    height: 280px;
    margin: 0 auto;
    margin-bottom: 19px;
    padding-top: 92px;
}

.mobile__item-1 {
    position: relative;
    background: url("../../assets/img/item1.jpg") center center/cover no-repeat;
    z-index: 2;
}

.mobile__item-1::before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: -1;
}

.mobile__item-2 {
    position: relative;
    background: url("../../assets/img/item2.jpg") center center/cover no-repeat;
    z-index: 2;
}

.mobile__item-2::before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: -1;
}

.mobile__item-3 {
    position: relative;
    background: url("../../assets/img/item3.jpg") center center/cover no-repeat;
    z-index: 2;
}

.mobile__item-3::before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: -1;
}

.mobile__item-4 {
    position: relative;
    background: url("../../assets/img/item4.jpg") center center/cover no-repeat;
    z-index: 2;
}

.mobile__item-4::before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: -1;
}

.mobile__item-5 {
    position: relative;
    background: url("../../assets/img/item5.jpg") center center/cover no-repeat;
    z-index: 2;
}

.mobile__item-5::before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: -1;
}

.mobile__item-6 {
    position: relative;
    background: url("../../assets/img/item6.jpg") center center/cover no-repeat;
    z-index: 2;
}

.mobile__item-6::before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: -1;
}

@media (max-width: 1200px) {
    .mobile__item {
        width: 300px;
    }
}

@media (max-width: 576px) {
    .mobile__item {
        width: 250px;
    }
}

.mobile__item-subtitle {
    color: #ffffff;
    font-size: 24px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
}

.mobile__item-plus {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 35px;
    left: 50%;
    transform: translateX(-50%);
    margin: 0 auto;
    width: 26px;
    height: 26px;
    background-color: #000000;
    border-radius: 50%;
    cursor: pointer;
}

.mobile__item-plus:before {
    content: '';
    display: block;
    width: 14px;
    height: 2px;
    background-color: #1eacc7;
    transition: .5s all;
}

.mobile__item-plus:after {
    content: '';
    position: absolute;
    display: block;
    height: 14px;
    width: 2px;
    background-color: #1eacc7;
    transition: .5s all;
}

.mobile__item-plus:hover:before,
.mobile__item-plus:hover:after {
    background-color: #ff6c6c;
}

.require {
    padding: 68px 0 84px 0;
}

.require__block {
    margin: 33px 0;
}

.require__block-mbn {
    margin-bottom: 0;
}

.require__title {
    color: #1eacc7;
    font-size: 22px;
    font-weight: 400;
}

.require__list {
    padding-left: 50px;
    list-style: none;
}

.require__list li {
    position: relative;
    margin-bottom: 10px;
    font-size: 17px;
    font-weight: 300;
    line-height: 24px;
}

.require__list li:before {
    content: "";
    display: block;
    position: absolute;
    left: -32px;
    top: 3px;
    width: 21px;
    height: 20px;
    background: url("../../assets/img/check.png") center center/cover no-repeat;
}

.require__descr {
    color: #1eacc7;
}

.require__block-orange .require__title {
    color: #ff6c6c;
}

.require__block-orange .require__list li:before {
    background: url("../../assets/img/check-orange.png") center center/cover no-repeat;
}

.map {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 715px;
    padding: 48px 0 48px 0;
    background: url("../../assets/img/map-bg.jpg") center center/cover no-repeat;
}

.map__label {
    background-color: #ffffff;
    color: #000000;
}

.map__title {
    margin-bottom: 25px;
    color: #ffffff;
}

.map__subtitle {
    font-size: 18px;
    color: #ffffff;
    text-align: center;
}

.map__link {
    text-align: center;
    vertical-align: top;
    text-transform: uppercase;
}

.map__link a {
    color: #1eacc7;
    text-decoration: none;
    transition: color .3s;
}

.map__link a:hover {
    color: #ff6c6c;
}

.footer {
    padding: 14px 25px 30px 25px;
}

.footer__line {
    display: block;
    width: 350px;
    height: 5px;
    margin: 0 auto 35px;
    background-color: #1eacc7;
}

.footer__block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.footer__soc {
    display: flex;
    width: 300px;
}

.footer__soc-block {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 31px;
    height: 31px;
    margin-left: 10px;
    background-color: #000000;
    border-radius: 50%;
}

.footer__soc-block:first-child {
    margin: 0;
}

.footer__soc-block .social__icon-fb {
    vertical-align: middle;
    width: 20px;
    height: 20px;
    fill: #ffffff;
    transition: fill .3s;
}

.footer__soc-block .social__icon-fb:hover {
    fill: #ff6c6c;
}

.footer__nav-bot ul,
.footer__nav-top ul {
    display: flex;
    justify-content: space-around;
    margin: 0;
    padding: 0;
}

.footer__nav-bot ul li,
.footer__nav-top ul li {
    list-style: none;
}

.footer__nav-bot ul li a,
.footer__nav-top ul li a {
    text-decoration: none;
    transition: color .3s;
}

.footer__nav-bot ul li a:hover,
.footer__nav-top ul li a:hover {
    color: #ff6c6c;
}

.footer__nav-top {
    margin-bottom: 20px;
}

.footer__nav-top a {
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 300;
    color: #000000;
}

.footer__nav-bot {
    margin-bottom: 25px;
}

.footer__nav-bot ul {
    display: flex;
    justify-content: space-between;
}

.footer__nav-bot ul li {
    margin-right: 20px;
}

.footer__nav-bot ul li a {
    font-size: 14px;
    color: #d6d6d6;
    text-transform: uppercase;
}

.footer__lang {
    text-align: center;
}

.footer__lang a {
    color: #1eacc7;
    text-transform: uppercase;
    text-decoration: none;
    transition: color .3s;
}

.footer__lang a:hover {
    color: #ff6c6c;
}

.footer__nav {
    min-width: 500px;
    margin: 0 20px;
}

.footer__links {
    display: flex;
    justify-content: center;
    width: 300px;
}
.footer__links a {
    display: inline-block;
    margin: 0 auto;
}


.display-n {
    display: none;
}

@media (max-width: 1199px) {
    .footer {
        display: flex;
        justify-content: center;
    }
    .footer__line {
        display: none;
    }
    .footer__nav {
        margin-bottom: 20px;
    }

    .footer__block {
        max-width: 500px;
        flex-direction: column;
    }

    .footer__soc {
        justify-content: center;
        margin-bottom: 20px;
    }
}

@media (max-width: 575px) {
    .footer__nav {
        /* display: none; */
    }
}